<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!--<system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <!--区域名-->
  <unity>
    <!-- 总节点 -->
    <containers>
      <!-- 子节点：用户表 -->
      <container name="UserDao">
         <!--节点名-->
        <register type="IDao.UsersIDao,IDao" mapTo="Dao.UserDao,Dao" name="UserDao"></register>
      </container>
      <container name="UsersBLL">
        <register type="IBll.UsersIBll,IBll" mapTo="Bll.UsersBLL,Bll" name="UsersBLL"></register>
      </container>
      
      <!-- 子节点：激励登记表 -->
      <container name="bonusDao">
        <!--节点名-->
        <register type="IDao.bonusIDao,IDao" mapTo="Dao.bonusDao,Dao" name="bonusDao"></register>
      </container>
      <container name="UsersBLL">
        <register type="IBll.UsersIBll,IBll" mapTo="Bll.UsersBLL,Bll" name="UsersBLL"></register>
      </container>
      
    </containers>
  </unity>
  
</configuration>
