<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!--<system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <!--区域名-->
  <unity>
    <!-- 总节点 -->
    <containers>
      <!-- 子节点：用户表 -->
      <container name="UserDao">
         <!--节点名-->
        <register type="IDao.UsersIDao,IDao" mapTo="Dao.UserDao,Dao" name="UserDao"></register>
      </container>
      <container name="UsersBLL">
        <register type="IBll.UsersIBll,IBll" mapTo="Bll.UsersBLL,Bll" name="UsersBLL"></register>
      </container>
      
      <!-- 子节点：激励登记表 -->
      <container name="bonusDao">
        <!--节点名-->
        <register type="IDao.bonusIDao,IDao" mapTo="Dao.bonusDao,Dao" name="bonusDao"></register>
      </container>
      <container name="bonusBLL">
        <register type="IBll.bonusIBLL,IBll" mapTo="Bll.bonusBLL,Bll" name="bonusBLL"></register>
      </container>

      <!-- 子节点：激励登记表 -->
      <container name="bonusDao">
        <!--节点名-->
        <register type="IDao.bonusIDao,IDao" mapTo="Dao.bonusDao,Dao" name="bonusDao"></register>
      </container>
      <container name="bonusBLL">
        <register type="IBll.bonusIBLL,IBll" mapTo="Bll.bonusBLL,Bll" name="bonusBLL"></register>
      </container>
      
      <!-- 子节点：一级机构设置表 -->
      <container name="config_file_first_kindDao">
        <!--节点名-->
        <register type="IDao.config_file_first_kindIDao,IDao" mapTo="Dao.config_file_first_kindDao,Dao" name="config_file_first_kindDao"></register>
      </container>
      <container name="config_file_first_kindBLL">
        <register type="IBll.config_file_first_kindIBLL,IBll" mapTo="Bll.config_file_first_kindBLL,Bll" name="config_file_first_kindBLL"></register>
      </container>

      <!-- 子节点：二级机构设置表 -->
      <container name="config_file_second_kindDao">
        <!--节点名-->
        <register type="IDao.config_file_second_kindIDao,IDao" mapTo="Dao.config_file_second_kindDao,Dao" name="config_file_second_kindDao"></register>
      </container>
      <container name="config_file_second_kindBLL">
        <register type="IBll.config_file_second_kindIBLL,IBll" mapTo="Bll.config_file_second_kindBLL,Bll" name="config_file_second_kindBLL"></register>
      </container>

      <!-- 子节点：三级机构设置表 -->
      <container name="config_file_third_kindDao">
        <!--节点名-->
        <register type="IDao.config_file_third_kindIDao,IDao" mapTo="Dao.config_file_third_kindDao,Dao" name="config_file_third_kindDao"></register>
      </container>
      <container name="config_file_third_kindBLL">
        <register type="IBll.config_file_third_kindIBLL,IBll" mapTo="Bll.config_file_third_kindBLL,Bll" name="config_file_third_kindBLL"></register>
      </container>

      <!-- 子节点：职位分类设置表 -->
      <container name="config_major_kindDao">
        <!--节点名-->
        <register type="IDao.config_major_kindIDao,IDao" mapTo="Dao.config_major_kindDao,Dao" name="config_major_kindDao"></register>
      </container>
      <container name="config_major_kindBLL">
        <register type="IBll.config_major_kindIBLL,IBll" mapTo="Bll.config_major_kindBLL,Bll" name="config_major_kindBLL"></register>
      </container>
      
    </containers>
  </unity>
  
</configuration>
