<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!--<system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>-->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <!--区域名-->
  <unity>
    <!-- 总节点 -->
    <containers>
      <!-- 子节点：管理员 --><!--
      <container name="UsersDao">
        --><!-- 节点名--><!--
        <register type="IDao.UsersDaoInterface,IDao" mapTo="Dao.UsersDao,Dao" name="UsersDao"></register>
      </container>
      <container name="UsersBll">
        <register type="IBll.UsersBllInterface,IBll" mapTo="Bll.UsersBll,Bll" name="UsersBll"></register>
      </container>-->
      
      
    </containers>
  </unity>
  
</configuration>
